extends layout
//-creates the full error message when the user has navigated to a page that doesn't exist
block content
    h1= error.message
    h2= 'Status: ' + error.status
    a(href='/') â† Back
    pre.stack-trace= error.stack
